.text-brand  {
    font-weight: 600;
    color: var(--brand-color-light);
    }

    .text-uppercase {
        text-transform: capitalize;
    }

    .text-brand-dark {
        color: var(--brand-color-dark);
    }