:root {
    --brand-color-light: #819b57;
    --brand-color-dark: #465929;
    --color-primary-light: #faf4ea;
    --color-primary-dark: #31261a;


}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bb-desktop: 1280px;