.button {
    display: block;
    font-weight: 600;
    font-size: 18px;
    color: var(--color-primary-light);
    
    border: 2px solid var(--brand-color-light);
    border-radius: 8px;
    padding: 16px 32px;
    background-color: var(--brand-color-light);
    }
    
    .button:hover {
        background-color: transparent;
       color: var(--brand-color-light);
    }