.chefs-section {
&__titile {
        text-align: center;
        margin: 0 auto 24px;
        position: relative;

        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 80px;
        }

        &::before {
                display: none; 
                

                @media screen and (min-width: $bp-desktop) {
                    display: block;
                    position: absolute;
                content: '';
                display: block;
                width: 352px;
                border: 2px solid #CFCFBC;
                bottom: 24px;
                left: 0;  
                }
            }
        
            &::after {
                display: none; 
                

                @media screen and (min-width: $bp-desktop) {
                    display: block;  
                    position: absolute;
                content: '';
                display: block;
                width: 352px;
                border: 2px solid #CFCFBC;
                bottom: 24px;
                right: 0;
                }
            }
        }
&__list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex-wrap: wrap;

            @media screen and (min-width: $bp-tablet) {
                flex-direction: row;
                gap: 40 30px;
            }
        }
        
&__item {

    @media screen and (min-width: $bp-tablet) {
        flex-basis: calc((100% - 30px) / 2);  
    }
            
        }
}

    
    
    
    
    