.footer {
    padding: 32px 0;
    background-image: url(../images/background-footer.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;




    &::before,
&::after {
    position: absolute;
    background-repeat: no-repeat;
    content: '';
    bottom: 0;
    background-size: 100%;
}

&::before {
    background-image: url(../images/small-bread.png);
    width: 180px;
    height: 120px;
    left: 0;
}

&::after {
    background-image: url(../images/big-bread.png);
    width: 380px;
    height: 190px;
    right: 0;

}

&__container {
    display: flex;
    gap: 20px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
        flex-direction: row;
        }

    }
    
    &__nav,
    &__adress {
        display: flex;
        gap: 20px;
        flex-direction: column;
        text-align: center;


        @media screen and (min-width: $bp-tablet) {
            flex-basis: 50%;
            flex-direction: row;
            text-align: left;
            // width: 600px;
            // height: 595px;
            }
    }

&__logo,
&__menu-link-list,
&__adress-list,
&__adress-info {
    flex-grow: 1;
}

&__adress-link {
font-weight: 300;
font-size: 16px;
color: var(--color-primary-light)
}

&__copyright {
font-weight: 400;
font-size: 14px;
color: #a18268;
}

&__logo-icon {
    fill: #FAF4EA;
}

&__address-icon {
    fill: #FAF4EA;
}
}






