.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 16px;

    @media screen and (min-width: $bp-desktop) {
        padding-top: 32px;

    }

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;
        }
    &__nav {
            display: flex;
        flex-grow: 1;
        align-items: center;
        }
    &__menu {
        display: none;
       

            @media screen and (min-width: $bp-desktop) {
                display: flex;
                gap: 64px;
                flex-grow: 1;
                justify-content: center;
            }
         } 

    &__logo {
            fill: #FAF4EA;
            }
            
    
         &__button {
            display: none;

            @media screen and (min-width: $bp-desktop) {
                display: block;
            }
         }

         &__burger {
            display: block;
            background-color: transparent;
            border: none;
            padding: 0;

            &--icon {
                fill: #FAF4EA;
            }
           
            @media screen and (min-width: $bp-desktop) {
                display: none;
            }
         }

        
        
    }           



