.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    transform: translateX(100%);
    transition: transform 0.3s;
    z-index: 3;

    &::after {
        position: absolute;
        background-repeat: no-repeat;
        content: '';
        bottom: 0;
        background-size: 100%;
        background-image: url(../images/mobile-menu-image.png);
        width: 180px;
        height: 240px;
        right: 0;
        transform: rotate(15deg);
    }

    &.is-open {
        transform: translateX(0);
    }

    &__btn-close {
        position: absolute;
        top: 16px;
        right: 24px;
        background-color: transparent;
        border: none;
        display: block;
    }

    &__icon {
    fill:none;
    stroke:#31261a;
    }

    &__nav {
        padding: 16px 24px;
    }

    &__menu {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__link {
font-size: 14px;
color: #31261a;

&:hover {
    color: var(--brand-color-light);
}
    }
}

